@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    background-color: #f3e5d8;
    height: 100vh;
}

img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

h1, h2{
    font-family: 'Young Serif', serif;
}

ul, ol {
  list-style-position: inside;
}

h2{
    color:#854632ff;
    font-weight: normal;
}


.food-title{
    font-weight: 400;
    margin: 20px 0;
}

.food-description{
    font-size: 13px;
    margin: 10px 0;
    line-height: 1.5;
}

.food-preparation-time{
    background-color:  #fff7fc;
    color: black;  
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;

    font-size: 13px;
}

.food-preparation-time h3{
    color: #7b284f;
    margin-bottom: 10px;
    font-size: 1rem;
}

.food-preparation-time li{
    margin-bottom: 8px;
    padding-left: 10px; 
}



.list-style-span{
    color:black;
    font-weight: 600;
}

.food-ingredients, .instructions, .nutrition{
    margin: 20px 0;
}

.food-ingredients h2, .instructions h2, .nutrition h2{
    margin-bottom: 20px;
    font-weight: normal;
}


.food-ingredients li{
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 13px;
}

.food-ingredientsli::marker {
  color:#7b284f;
}


hr {
    margin: 20px 0;
    height: 1px;
    border: none;
    background-color: #ccc;
}

li::marker {
  color: #7b284f;
  font-weight: bold;
}

.instructions ol{
    list-style-position: outside;
    padding-left: 1.5rem; 
    font-family: outfit;
    line-height: 1.5;
    font-size: 13.5px;
}

.instructions li{
    margin-bottom: 15px;
    padding-left: 0.4rem;
    text-indent: 0;
}



.nutrition p{
    font-size: 13px;
    margin-bottom: 10px;
}

table{
    width: 100%;
    border-collapse: collapse ;
    font-size: 13px;
}

th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th{
    font-weight: normal;
}
td{
    color: #854632ff;
    font-weight: 700;
}

.attribution{
    display: block;
    margin-top: 50px;
}